@import '../../../../assets/styles/utility';

h1 {
  margin-left: rem(16px);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(15px);

  @include respond-laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(8px);
  }

  @include respond-tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(5px);
  }

  @include respond-tablet-sm {
    grid-template-columns: 1fr;
    grid-gap: rem(5px);
  }
}
