@import '../../../../assets/styles/utility';

.card {
  padding: rem(14px) rem(16px);
  border-radius: var(--radius-20);

  @include respond-laptop {
    padding: rem(10px) rem(12px);
  }

  .img-wrap {
    border-radius: var(--radius-16);
    min-height: 10rem;
    max-height: 15rem;
    height: 15vw;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;

    @include respond-laptop {
      max-height: rem(380px);
      height: 15.5vw;
    }

    @include respond-tablet {
      height: rem(208px);
    }

    @include respond-tablet-sm {
      height: rem(288px);
    }

    @include respond-mobile {
      height: rem(190px);
    }
  }

  img {
    border-radius: var(--radius-16);
    transform: scale3d(1, 1, 1);
    transition: transform .4s ease-in-out;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }

  &-caption {
    padding: 0 rem(8px);
  }

  &-title {
    font-size: rem(15px);
    font-weight: 300;
    color: var(--color-heading);
    margin-top: rem(16px);
    margin-bottom: 0;
  }

  &-category {
    font-size: rem(14px);
    color: var(--color-paragraph);
    display: block;
    opacity: .7;
  }

  &:hover {
    background: rgba(15, 20, 25, 0.25);
    @extend .box-shadow-16;
    transition: transform .6s ease-in-out;
    @include reflection-overlay();

    & > .img-wrap {
      img {
        //filter: blur(4px);
        transform: scale3d(1.1, 1.1, 1);
        transition: all .3s ease-in-out;
      }
    }
  }
}
