<div class="header-shell" *ngIf="headerReady">
  <header class="header-pill header-nav">
    <ul>
      <li>
        <a routerLink="/" aria-label="Who am I?" title="Who am I?">
          <i class="fa-solid fa-house" aria-hidden="true"></i>
          <span>Who am I?</span>
        </a>
      </li>

      <li>
        <a
          *ngIf="isBlogDone; else blogSoon"
          routerLink="/blog"
          aria-label="Blog"
          title="Blog"
        >
          <i class="fa-solid fa-rss" aria-hidden="true"></i>
          <span>Blog</span>
        </a>
        <ng-template #blogSoon>
          <a class="soon" aria-label="Blog" title="Blog" aria-disabled="true" tabindex="-1">
            <i class="fa-solid fa-rss" aria-hidden="true"></i>
            <span>Blog</span>
          </a>
        </ng-template>
      </li>

      <li>
        <a
          *ngIf="isPortfolioDone; else portfolioSoon"
          routerLink="/portfolio"
          aria-label="Portfolio"
          title="Portfolio"
        >
          <i class="fa-solid fa-briefcase" aria-hidden="true"></i>
          <span>Portfolio</span>
        </a>
        <ng-template #portfolioSoon>
          <a class="soon" aria-label="Portfolio" title="Portfolio" aria-disabled="true" tabindex="-1">
            <i class="fa-solid fa-briefcase" aria-hidden="true"></i>
            <span>Portfolio</span>
          </a>
        </ng-template>
      </li>

      <li class="right-menu-item">
        <button type="button" class="theme-button" (click)="setRandomTheme()" aria-label="Change colors" title="Change colors">
          <i class="fa-solid fa-palette" aria-hidden="true"></i>
        </button>
      </li>

      <li class="header-download-mobile">
        <button
          type="button"
          class="download-button {{isDownloadCVDone ? null : 'soon'}} {{isDownloading ? 'is-downloading' : ''}}"
          (click)="downloadCv()"
          [disabled]="!isDownloadCVDone || isDownloading"
          [attr.aria-disabled]="!isDownloadCVDone || isDownloading ? 'true' : null"
          [attr.tabindex]="!isDownloadCVDone || isDownloading ? -1 : null"
          aria-label="Get Resume"
          title="Get Resume"
        >
          <div class="download-button-content" [class.is-hidden]="isDownloading">
            <span>Get Resume</span>
            <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
          </div>
          <div class="download-progress" [class.is-active]="isDownloading" aria-hidden="true">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </div>
        </button>
      </li>
    </ul>
  </header>

  <button
    type="button"
    class="header-download download-button {{isDownloadCVDone ? null : 'soon'}} {{isDownloading ? 'is-downloading' : ''}}"
    (click)="downloadCv()"
    [disabled]="!isDownloadCVDone || isDownloading"
    [attr.aria-disabled]="!isDownloadCVDone || isDownloading ? 'true' : null"
    [attr.tabindex]="!isDownloadCVDone || isDownloading ? -1 : null"
    aria-label="Get Resume"
    title="Get Resume"
  >
    <div class="download-button-content" [class.is-hidden]="isDownloading">
      <span>Get Resume</span>
      <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
    </div>
    <div class="download-progress" [class.is-active]="isDownloading" aria-hidden="true">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </button>
</div>
