<header>
  <ul>
    <li routerLink='/'>
      <i class="fa-solid fa-house"></i>
      <span>Who am I?</span>
    </li>
    <li routerLink="{{isPortfolioDone ? '/portfolio' : null}}" class="{{isPortfolioDone ? null : 'soon'}}">
      <i class="fa-solid fa-briefcase"></i>
      <span>Portfolio</span>
    </li>
    <li routerLink="{{isBlogDone? '/blog' : null}}" class="{{isBlogDone ? null : 'soon'}}">
      <i class="fa-solid fa-rss"></i>
      <span>Blog</span>
    </li>
    <div class="right-menu-items">
      <li (click)="setRandomTheme()" class="theme-button">
        <i class="fa-solid fa-palette"></i>
        <span>Colors!</span>
      </li>
      <li class="download-button {{isDownloadCVDone ? null : 'soon'}} {{isDownloading ? 'is-downloading' : ''}}" (click)="downloadCv()">
        <div class="download-button-content" [class.is-hidden]="isDownloading">
          <span>Download CV</span>
          <i class="fa-solid fa-angles-down"></i>
        </div>
        <div class="download-progress progress-sweep" [class.is-active]="isDownloading" aria-hidden="true"></div>
      </li>
    </div>
  </ul>
</header>
