<header>
  <ul>
    <li routerLink='/'>
      <i class="fa-solid fa-house"></i>
      <span>Who am I?</span>
    </li>
    <li routerLink="{{isPortfolioDone ? '/portfolio' : null}}" class="{{isPortfolioDone ? null : 'soon'}}">
      <i class="fa-solid fa-briefcase"></i>
      <span>Portfolio</span>
    </li>
    <li routerLink="{{isBlogDone? '/blog' : null}}" class="{{isBlogDone ? null : 'soon'}}">
      <i class="fa-solid fa-rss"></i>
      <span>Blog</span>
    </li>
    <div class="right-menu-items">
      <li (click)="setRandomTheme()" class="theme-button">
        <i class="fa-solid fa-palette"></i>
        <span>Colors!</span>
      </li>
      <li class="download-button {{isDownloadCVDone ? null : 'soon'}}" (click)="downloadCv()">
        <i class="fa-solid {{isDownloading ? 'fa-spinner fa-spin' : 'fa-angles-down'}}"></i>
        <span>{{isDownloading ? 'Downloading...' : 'Download CV'}}</span>
      </li>
    </div>
  </ul>
</header>

