@import './src/assets/styles/utility';

header {
  @extend .container-shadow;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-bottom: rem(18px);
  background-color: var(--color-dark-wrapper-background);
  border-radius: var(--radius-20);
  backdrop-filter: blur(20px) saturate(0.5);
  -webkit-backdrop-filter: blur(20px) saturate(0.5);

  @media only screen and (max-width: $medium) {
    border-radius: var(--radius-16);
  }

  ul {
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding: rem(12px) rem(14px);
    margin: 0;
    list-style-type: none;
    font-weight: 500;
    width: 100%;

    @media only screen and (max-width: $medium) {
      justify-content: space-evenly;
      padding: rem(8px) rem(10px);

    }

    li {
      display: flex;
      align-items: center;
      padding: 0.5em 1em;
      border-radius: var(--radius-12);
      color: var(--color-dark-heading);
      text-decoration: none;

      &.soon {
        span {
          color: var(--color-dark-paragraph);
          text-decoration: line-through;

          &:after {
            content: 'soon';
            display: inline-block;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
            padding: 2px 4px;
            margin: auto auto auto rem(6px);
            background-color: rgba(0, 187, 255, 0.3);
            border-radius: 4px;
            border: 1px solid var(--color-dark-neon-glow);
          }

        }
      }

      &:hover {
        @extend .box-shadow-16;
        @extend .text-glow-12;
        background-color: rgba(0, 0, 0, 0.25);
        transition: all .05s linear;
        cursor: pointer;
      }

      &:active {
        @extend .box-shadow-16;
        transition: all .05s ease-in;
      }

      i {
        display: none;
        margin-right: 0.5rem;
      }


      @media only screen and (max-width: $medium) {
        padding: rem(12px) 10%;

        span{
          display: none;
        }

        i {
          display: block;
          margin-right: 0;
          font-size: rem(20px);

          &:hover {
            text-shadow: 0 0 10px var(--color-dark-neon-glow);
          }

          @media only screen and (max-width: $medium) {
            font-size: 4vw;
          }
        }

        @media only screen and (max-width: $medium) {
          padding: rem(12px) 9%;
        }

        .btn-icon {
          padding: 0;
          display: flex;
          align-items: center;
          font-weight: 500;
          border: none;
          float: right;
          border-radius: var(--radius-12);
          background: none;

          &:hover {
            cursor: pointer;
          }
        }
      }

    }

    .download-button {
      margin-left: auto;

      i {
        display: block;
      }

      @media only screen and (max-width: $medium) {
        margin-left: unset;
      }
    }
  }
}

app-header-color-scheme-selector {
  margin-left: auto;
}

.download-button {
  margin-left: 0 !important;

  @media only screen and (max-width: $medium) {
    margin-left: unset;
  }
}
