@import '../../../assets/styles/utility';

div {
  background: var(--color-dark-separator);
  margin: var(--spacing-6) var(--spacing-6);
  height: 1px;
  width: auto;

  @include respond-tablet-sm {
    margin: 0;
  }
}
