@import './src/assets/styles/utility';

div {
  background: var(--color-dark-separator);
  margin: rem(26px) rem(26px);
  height: 1px;
  width: auto;

  @include respond-tablet-sm {
    margin: 0;
  }
}
