<a class="blog-card" [routerLink]="['/blog', article.id]" [attr.aria-label]="article.headline">
  <div class="blog-card__media">
    <img class="blog-card__image" [src]="article.imagePath" [alt]="article.headline" loading="lazy">
  </div>
  <div class="blog-card__content">
    <h3 class="blog-card__title">{{article.headline}}</h3>
    <p class="blog-card__summary">{{article.summary}}</p>
    <div class="blog-card__meta">
      <span>{{article.publishDate | date: 'MMM d, y'}}</span>
      <span>{{article.topics.slice(0, 2).join(' • ')}}</span>
    </div>
  </div>
</a>
