<a class="blog-card" [routerLink]="['/blog', article().slug]" [attr.aria-label]="article().headline">
  <div class="blog-card__media">
    <img
      class="blog-card__image"
      [class.is-loaded]="imageLoaded"
      [src]="article().imagePath"
      [alt]="article().headline"
      loading="lazy"
      (load)="onImageLoaded()">
  </div>
  <div class="blog-card__content">
    <h3 class="blog-card__title">{{article().headline}}</h3>
    <div class="blog-card__meta">
      <span>{{article().publishDate | date: 'MMM d, y'}}</span>
    </div>
  </div>
</a>
