@import '../assets/styles/utility';

.wrapper {
  margin: rem(36px) rem(190px) 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  @include respond-desktop {
    margin: rem(36px) rem(75px) 0;
  }

  @include respond-tablet {
    margin: 0;
    padding: rem(16px) rem(16px) 0;
    border-radius: 0 0 var(--radius-32) var(--radius-32) !important;
  }

  @include respond-tablet-sm {
    margin: 0;
    padding: rem(10px) rem(10px) 0;
  }

  @include respond-mobile {
    margin: 0;
    padding: rem(8px) rem(8px) 0;
  }
}

.main-container {
  @extend .container-shadow;
  position: relative;
  z-index: 1;
  border-radius: var(--radius-20);
  background-color: var(--color-dark-wrapper-background);
  backdrop-filter: blur(20px) saturate(0.5);
  -webkit-backdrop-filter: blur(20px) saturate(0.5);
  padding: rem(18px);
  flex: 1;

  @include respond-tablet {
    padding: rem(14px);
  }

  @include respond-mobile {
    padding: rem(10px);
    border-radius: var(--radius-16);
  }
}

.route-container {
  position: relative;
  min-height: 100%;
}
