@import "../home";

section {
  //padding: rem(18px);
  padding: 0;
  box-shadow: none;

  @include respond-laptop {
    padding: rem(10px);
  }

  h2 {
    padding: rem(6px) 0;
    border-radius: var(--radius-12);
    margin: rem(24px) 0 rem(12px);
    text-align: center;
  }

  .skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12px);

    @include respond-tablet-sm {
      display: flex;
    }

    .skill-group {
      width: calc(50% - rem(6px));

      @include respond-tablet-sm {
        width: 100%;
      }

      @include respond-mobile {
        width: 100%;
      }

      &-item {
        margin-bottom: rem(10px);
        padding: rem(10px) rem(18px);
        border-radius: var(--radius-16);
        @extend .box-shadow-8;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .skill-title {
          h4 {
            display: inline;
            margin: 0;
          }
        }

        &-level {
          color: var(--color-dark-paragraph);
          font-weight: 500;
          font-size: rem(12px);
          text-transform: uppercase;
          text-align: right;

          /* &::before {
            margin: 0 rem(4px);
            color: var(--color-dark-paragraph);
            content: '•';
          } */
        }

        .progress-bar {
          display: flex;
          border-radius: var(--radius-16);
          overflow: inherit;
          position: relative;
          width: 100%;
          gap: rem(10px);
          margin-top: rem(8px);

          span {
            margin: rem(3px) 0;
            border-radius: var(--progress-radius);
            display: block;
            overflow: hidden;
            position: relative;
            height: var(--progress-height);
            width: 100%;
            transition: width .6s ease-in-out;

            &.active {
              background: var(--progress-fill-color);
              @extend .box-glow-12
            }

            &.inactive {
              background: var(--progress-track-color);
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
