@import './src/assets/styles/utility';

aside {
  z-index: 10;
  position: sticky;
  padding: rem(18px);

  app-vertical-separator {
    display: none;
  }

  @include respond-laptop {
    display: grid;
    grid-template-columns: 28% 1px auto;
    text-align: start;
    grid-gap: rem(26px);
    padding: rem(26px);
    margin-bottom: rem(30px);

    app-horizontal-separator {
      display: none;
    }
    app-vertical-separator {
      display: block;
    }
  }

  @include respond-tablet-sm {
    grid-template-columns: 100%;
    margin-bottom: rem(16px);

    app-horizontal-separator {
      display: block;
    }
    app-vertical-separator {
      display: none;
    }
  }

  @include respond-mobile {
    padding: rem(10px);
  }

  .aside-heading {
    text-align: center;

    .img-wrapper {
      padding: 20px;
      border-radius: var(--radius-20);
      margin: 0 1vw;

      @include respond-tablet-sm {
        margin: 0 10vw;
        padding: 32px;
      }

      @include respond-mobile {
        margin: 0;
      }

      img {
        overflow: hidden;
        width: 100%;
      }
    }

    h2 {
      @extend .text-glow-16;
      font-weight: 500;
      margin: rem(16px) rem(0);
      position: relative;

      @include respond-desktop {
        margin-bottom: rem(12px);
        margin-left: 0;
      }

      @include respond-laptop {
        margin-bottom: rem(14px);
        margin-left: 0;
      }

      @include respond-tablet {
        margin-bottom: rem(12px);
      }

      @include respond-tablet-sm {
        margin-bottom: rem(10px);
      }
      
      @include respond-mobile {
        margin-bottom: rem(10px);
      }
    }

    .position-title {
      @extend .box-shadow-8;
      font-size: 14px;
      margin: 0 auto;
      padding: 0.6em 1.2em;
      width: max-content;
      color: var(--color-dark-heading);
      text-align: center;
      vertical-align: baseline;
      border-radius: var(--radius-8);
      font-weight: 300;
      line-height: 1;

      // Empty badges collapse automatically
      &:empty {
        display: none;
      }
    }
  }

  .aside-body {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: rem(16px);
        display: flex;
        align-items: stretch;

        div > .overhead {
          font-size: rem(12px);
          line-height: 1.2;
          color: var(--color-dark-paragraph);
          font-weight: 400;
          display: block;
          opacity: .7;
          text-transform: uppercase;
        }

        div > .list-content {
          font-size: rem(15px);
        }

        .icon-box {
          @extend .box-shadow-8;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: rem(16px);
          border-radius: var(--radius-12);
          min-width: rem(48px);

          i {
            text-align: center;
            margin: 0 auto;
          }

          @include respond-desktop {
            display: none;
          }

          @include respond-laptop {
            display: inline-flex;
          }
        }
      }
    }

    .ju-social {
      text-align: center;
      margin-top: rem(18px);

      a {
        color: var(--color-dark-paragraph);
        font-size: rem(20px);
        -webkit-text-fill-color: inherit;
        text-decoration: none;
        margin: 0 rem(10px);
        transition: all .05s ease-out;

        &:hover {
          color: var(--color-dark-heading);
          @extend .text-glow-8
        }
      }
    }
  }
}
