@import '../blog';

:host {
  display: grid;
  gap: var(--spacing-4);
  animation: page-enter 350ms cubic-bezier(0.4, 0.0, 0.2, 1);

  @include respond-mobile {
    gap: var(--spacing-3);
  }
}

:host > div {
  display: grid;
  gap: var(--spacing-4);
  @include stagger-children;

  @include respond-mobile {
    gap: var(--spacing-3);
  }
}

:host ::ng-deep .blog-hero__pills > .blog-share--icons app-copy-button .copy-button {
  @include respond-tablet-sm {
    width: rem(22px);
    height: rem(22px);
  }
}
