@import '../../../assets/styles/utility';

section {
    .section-item {
    border-left: rem(2px) solid var(--color-dark-separator);
    padding: var(--spacing-1) 0 var(--spacing-1) var(--spacing-4);
    position: relative;
    cursor: pointer;

    i {
      opacity: 0;
      text-align: center;

      @include respond-tablet {
        opacity: 0.3;
        font-size: 12px;
      }
    }

    &:hover {
      border-left: rem(2px) solid var(--color-dark-paragraph);
      transition: border-left var(--transition-normal) ease-in;

      i {
        opacity: 1;
        transition: opacity var(--transition-normal) var(--transition-easing);
      }
    }

    &::before {
      width: 10px;
      height: 10px;
      border: rem(1px) solid var(--color-dark-heading);
      border-radius: 50%;
      position: absolute;
      content: '';
      @extend .box-glow-12;
      background-color: var(--color-dark-heading);
      left: -7px;
      top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-radius: 0 var(--radius-12) var(--radius-12) var(--radius-12);
    }

    h3 {
      margin: 0;
    }

    span {
      font-size: rem(12px);
      font-weight: 500;
      color: var(--color-dark-paragraph);
      text-transform: uppercase;
    }

    &-head {
      display: flex;
      align-items: center;

      .section-item-toggler {
        width: auto;
        flex-shrink: 0;
        margin-left: var(--spacing-2);
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-date-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: right;
      margin-left: auto;
    }

    &-date {
      &::before {
        color: var(--color-dark-paragraph);
        margin: 0 var(--spacing-1);
        text-shadow: none;
      }
    }

    &-duration {
      color: var(--color-dark-paragraph);
      font-size: rem(12px);
    }

    &-content {
      overflow: hidden;
      color: var(--color-dark-paragraph);
      margin-top: var(--spacing-2);
      margin-bottom: 0;
      padding-top: var(--spacing-2);
      padding-right: var(--spacing-8);
      padding-bottom: var(--spacing-2);
      box-sizing: border-box;
      transform: translateZ(0);
      backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      contain: layout style paint;
      isolation: isolate;

      p {
        cursor: text;
        margin: 0 0 var(--spacing-2) 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      h5 {
        margin: var(--spacing-3) 0 var(--spacing-1) 0;
        font-weight: 600;

        &:first-child {
          margin-top: 0;
        }
      }

    }

    &-toggler {
      justify-content: center;
      align-items: center;
      display: inline-flex;
      margin-left: auto;
    }
  }
}
