@import '../../../assets/styles/utility';

section {
    .section-item {
    border-left: rem(2px) solid var(--color-dark-separator);
    padding: rem(6px) 0 rem(6px) rem(16px) ;
    position: relative;
    cursor: pointer;

    i {
      opacity: 0;
      text-align: center;

      @include respond-tablet {
        opacity: 0.3;
        font-size: 12px;
      }
    }

    &:hover {
      border-left: rem(2px) solid var(--color-dark-paragraph);
      transition: border-left 0.25s ease-in;

      i {
        opacity: 1;
        transition: opacity 0.25s ease-out;
      }
    }

    &::before {
      width: 10px;
      height: 10px;
      border: rem(1px) solid var(--color-dark-heading);
      border-radius: 50%;
      position: absolute;
      content: '';
      @extend .box-glow-12;
      background-color: var(--color-dark-heading);
      left: -7px;
      top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-radius: 0 var(--radius-12) var(--radius-12) var(--radius-12);
    }

    h3 {
      margin: 0;
    }

    span {
      font-size: rem(12px);
      font-weight: 500;
      color: var(--color-dark-paragraph);
      text-transform: uppercase;
    }

    &-head {
      display: flex;
      align-items: center;

      .section-item-toggler {
        width: auto;
        flex-shrink: 0;
        margin-left: rem(10px);
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-date-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: right;
      margin-left: auto;
    }

    &-date {
      &::before {
        color: var(--color-dark-paragraph);
        margin: 0 rem(4px);
        text-shadow: none;
      }
    }

    &-duration {
      color: var(--color-dark-paragraph);
      font-size: rem(12px);
    }

    &-content {
      //overflow: hidden;
      color: var(--color-dark-paragraph);
      margin-top: rem(5px);
      margin-bottom: 0;
      padding-right: rem(30px);

      p {
        cursor: text;
      }
    }

    &-toggler {
      justify-content: center;
      align-items: center;
      display: inline-flex;
      margin-left: auto;
    }
  }
}
