@import 'typography';
@import 'utility';
@import "fa-icons";

@import 'variables/media';
@import 'variables/mixins';
@import 'variables/vars';

body {
  background-color: transparent;
  margin: 0;
}

section {
  padding: rem(26px);

  margin-bottom: rem(18px);
  @extend .box-shadow-16;

  @media only screen and (max-width: $medium) {
    margin-bottom: rem(14px);
  }

  @media only screen and (max-width: $small) {
    padding: rem(16px);
    margin-bottom: rem(12px);
  }
}

* {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @extend .box-shadow-8;
  background: var(--color-dark-wrapper-background);
  border-radius: var(--radius-8);
}
