@import "../home";

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  > .sections {
    min-width: 0;
    width: 100%;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
  }

  .sections > app-profile-section,
  .sections > app-about-me-section,
  .sections > app-experience-section,
  .sections > app-education-section,
  .sections > app-skills-section {
    display: block;
  }

  @include respond-tablet-sm {
    gap: var(--spacing-3);
  }

  @include respond-mobile {
    gap: var(--spacing-2);
  }
}
