<footer>
  <h2>Contact with me</h2>
  <form>
    <input #userName class="name-input contact-form-item" type="text" name="name" required="required" autocomplete="on" placeholder="Full name">
    <input #userEmail class="surname-input contact-form-item" type="email" name="email" required="required" autocomplete="on" placeholder="Email address">
    <textarea #userMessage class="message-area contact-form-item" rows="7" name="message" required="required" autocomplete="off" placeholder="Your message"></textarea>
    <button (click)="sendEmail(userName.value, userEmail.value, userMessage.value)" type="submit" class="submit-button contact-form-item">Send message</button>
  </form>
  <div class="credentials">
    <p>© {{ currentDate }}. Designed and developed by <a href="https://github.com/grafanaKibana">Nikita</a> with <a href="https://github.com/JuliettyGit">Julia <i class="fa-solid fa-heart fa-beat"></i></a></p>
  </div>
</footer>
