@import '../../../assets/styles/utility';

footer {
  @extend .container-shadow;
  background-color: var(--color-dark-wrapper-background);
  backdrop-filter: blur(20px) saturate(0.5);
  -webkit-backdrop-filter: blur(20px) saturate(0.5);
  border-radius: var(--radius-20) var(--radius-20) 0 0;
  margin-top: rem(26px);
  padding: rem(18px);

  @media only screen and (max-width: $large) {
    padding: rem(14px);
  }

  @media only screen and (max-width: $medium) {
    margin-top: rem(18px);
  }

  @media only screen and (max-width: $small) {
    padding: rem(16px);
  }


  h2 {
    text-align: center;
  }

  form {
    display: grid;
    gap: rem(26px);

    grid-template-areas:
      "N S"
      "M M"
      "B B";

    @media only screen and (max-width: $medium) {
      gap: rem(16px);
      grid-template-areas:
      "N N"
      "S S"
      "M M"
      "B B";
    }

    .contact-form-item {
      @extend .box-shadow-16;
      background-color: var(--color-dark-block-background);
      border: 0;
      border-radius: var(--radius-8);
      color: var(--color-dark-paragraph);
      padding: rem(12px);
      outline: none;

      @media only screen and (max-width: $medium) {
        border-radius: var(--radius-12);
      }
    }

    .name-input {
      grid-area: N;
    }

    .surname-input {
      grid-area: S;
    }

    .message-area {
      grid-area: M;
    }

    .submit-button {
      grid-area: B;
      margin-bottom: rem(64px);

      &:hover {
        @extend .text-glow-12;
        filter: brightness(1.5);
        cursor: pointer;
        transition: all .1s ease-out;
      }

      &:active {
        @extend .text-glow-16;
        font-weight: 400;
        transition: all .05s ease-in;
      }
    }

    input, textarea {
      resize: none;

      &:-webkit-autofill {
        -webkit-text-fill-color: var(--color-dark-paragraph);
        font: var(--font-family);
        -webkit-background-clip: text;
      }

      &:hover {
        filter: brightness(1.25);
        transition: all .15s ease-out;
      }

      &:focus {
        filter: brightness(1.25);
        transition: all .15s ease-out;
      }

      &::placeholder {
        color: var(--color-dark-paragraph);
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--color-dark-paragraph);
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--color-dark-paragraph);
      }
    }
  }

  .credentials {
    text-align: center;
    color: var(--color-dark-paragraph);
    filter: brightness(1);

    p {
      margin: 0;
    }

    a {
      color: var(--color-dark-heading);
      text-shadow: 0 0 6px var(--color-dark-neon-glow);
      text-decoration: none;
      font-weight: 500;

      &:hover {
        filter: brightness(1.5);
      }

      i {
        margin-left: rem(2px);
        transform: scale(2);
        animation: pulse 1s ease-in-out infinite;
      }
    }
  }
}
